.pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loadmore {
  padding: 10px;
  border-radius: 8px;
  background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
  cursor: pointer;
}

body {
  /* background-color: black;
  box-sizing: border-box; */
}

/* Breakpoints */

/*


Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px
*/

@media screen and (max-width: 400px) {
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-left: 25%;
  }
}
