.popupcontainer {
  position: fixed;
  top: 20%;
  left: 25%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  z-index: 1000000;

  width: 40vw;
  height: 50vh;

  border: 2px solid black;

  padding: 50px;
}

.leftcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;

  margin-right: 10px;
}

.leftcontainerimage {
  height: auto;
  width: 200px;
}

.nametext {
  font-size: 24px;
  text-decoration: underline;
}

.rightcontainer {
  padding: 20px;

  background-color: aqua;

  display: flex;
  flex-direction: row;
  gap: 16px;

  justify-content: center;
  align-items: center;
}

.closebutton {
  color: black;

  border: 1px solid black;

  padding: 10px;
  margin: 10px;

  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 5px;

  cursor: pointer;
}

span {
  font-weight: bold;
}
